/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#Ellipse_2 {
    transform: translateX(-50%) translateY(-50%);
    animation: Ellipse_2__arcData__1 0ms 0ms linear forwards, Ellipse_2__arcData__2 0ms 0ms linear forwards, Ellipse_2__arcData__3 1000ms 0ms linear forwards, Ellipse_2__arcData__4 500ms 1000ms linear forwards;
}

@keyframes Ellipse_2__arcData__1 {
    from {
        arc-data: 360deg, 0deg, 0%; /* not supported in CSS animation, just for reference */;
    }

    to {
        arc-data: 0deg, -360deg, 0%; /* not supported in CSS animation, just for reference */;
    }
}
@keyframes Ellipse_2__arcData__2 {
    from {
        arc-data: 0deg, -360deg, 0%; /* not supported in CSS animation, just for reference */;
    }

    to {
        arc-data: 0deg, -360deg, 0%; /* not supported in CSS animation, just for reference */;
    }
}
@keyframes Ellipse_2__arcData__3 {
    from {
        arc-data: 0deg, -360deg, 0%; /* not supported in CSS animation, just for reference */;
    }

    to {
        arc-data: 479.99999999999994deg, 479.99999999999994deg, 0%; /* not supported in CSS animation, just for reference */;
    }
}
@keyframes Ellipse_2__arcData__4 {
    from {
        arc-data: 479.99999999999994deg, 479.99999999999994deg, 0%; /* not supported in CSS animation, just for reference */;
    }

    to {
        arc-data: 479.99999999999994deg, 840deg, 0%; /* not supported in CSS animation, just for reference */;
    }
}
