@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

:root {
    --red-theme-color: rgb(220, 53, 69);
}

html {
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 1em;
}

#PageContainer {
    z-index: 5;
    box-shadow: inset 0px 1px 20px #252525;
}

#backGround {
    background: linear-gradient(#343a40, #111);
    width: 100vw;
}

nav {
    z-index: 3;
    box-shadow: 0px 2px 10px #111;
}

#moon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: none;
}

#moonW {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.navbar-toggler a {
    font-size: 0;
}

.show > .dropdown-menu {
    max-height: 800px;
    visibility: visible;
}

.dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
   
#backDrop {
    position: relative;
}

.hero {
    background: #343a40;
    background-position: bottom;
}

#ctrlButtons {
    list-style-type: none;
    position: absolute;
    bottom: 5vh;
    right: 10%;
}

.ctrlBtn {
    display: inline;
    padding-right: 5em;
}

.controlButton {
    display: inline-block;
    background-color: #343a4067;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 4em;
    height: 4em;
    border-radius: 20%;
    cursor: pointer;
}

#zoomButton {
    background-image: url("./images/magnifying-glass-3-256.png");
}

#rotateButton {
    background-image: url("./images/rotate-2-256.png");
}

#panButton {
    background-color: #aa2438;
    background-image: url("./images/hand-cursor-256.png");
}

.touchable {
    position: absolute;
    margin: auto;
    z-index: 1;
    width:30vw;
    height: 80vh;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    left:0;
    width: 20vh;
    height: 10vh;
    background-color: #202020b7;
    background-image: url("./images/Frame 2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(-90deg) translateY(-5vh);
    border-bottom-right-radius:2vh;
    border-bottom-left-radius:2vh;
    cursor: pointer;
}

.leftArrow:hover {
    background-color: #303030b7;
}

.leftArrow:active {
    background-color: #101010b7;
}

.rightArrow {
    position: absolute;
    right:0;
    width: 20vh;
    height: 10vh;
    background-color: #202020b7;
    background-image: url("./images/Frame 2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg) translateY(-5vh);
    border-bottom-right-radius:2vh;
    border-bottom-left-radius:2vh;
    cursor: pointer;
}

.rightArrow:hover {
    background-color: #303030b7;
}

.rightArrow:active {
    background-color: #101010b7;
}

.deviceName {
    position: absolute;
    left: 6vw;
    bottom: 5vh;
    border-radius: 1em;
    font: 1.5em 'Titillium Web', sans-serif;
    background-color: #10101090;
}

.hero2 {
    background: linear-gradient(0deg,#111, #333);
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
}

#mainFrame canvas {
    margin-top: auto;
    height: 92vh;
}

canvas {
    width: 100vw !important;
    height: 80vh;
    display: block;
}

.screenForObjs {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

#loaderLoop {
    width: 7vw;
    height: 7vw;
}

#expBody{
    position: relative;
    height: auto;
}

.replayScreen {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #111111aa;
    backdrop-filter: blur(4px);
}

#replayButton {
    width: 8vh;
    height: 8vh;
    margin-bottom: 12vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    background-image: url("./images/Frame 1ReplayButton.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.leftSide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 1em;
    height: 130vh;
    max-width: 60%;
    will-change: transform;
}

.rightSide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    border-radius: 1em;
    height: 130vh;
    max-width: 60%;
    will-change: transform;
}

.lazy {
    background-image: none;
    background-color: #F1F1FA;
}

.featuresContainer .lead {
    font-size: 2em;
}

#guiding {
    background-image: url("images/guidingOptimized.jpg");
}

#cpu {
    background-image: url("images/cpuOptimized.jpg");
}

#communication {
    background-image: url("images/communicationOptimized.jpg");
    background-position-x: 80%;
}

.upScroll {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 25vh;
}

.topIcon {
    display: inline-block;
    right: 2vw;
    background-color: #9e9e9e67;
    backdrop-filter: blur(10px);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-image: url("./images/Frame 1.svg");
    cursor: pointer;
}

#cookie {
    background-color: var(--red-theme-color);
    height: auto;
    z-index: 100;
    border-top: 1px solid white;
    position: fixed;
    bottom: -100%;
    width: 100%;
}

.sub-title {
    color: var(--red-theme-color);
    font: 3em "Verdana", sans-serif;
    overflow: hidden;
    height: auto;
    will-change: transform;
}

.whte {
    height: 25vh;
    width: 100%;
}

hr {
    width: 85%;
}

.red {
    width: 6em;
    height: 6em;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-clip: 100%;
    -webkit-mask-clip: 100%;
    border: none;
}

#compassIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/compass-3-line.svg");
    -webkit-mask-image: url("images/compass-3-line.svg");
}

#mapIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/treasure-map-line.svg");
    -webkit-mask-image: url("images/treasure-map-line.svg");
}

#infoIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/information-line.svg");
    -webkit-mask-image: url("images/information-line.svg");
}

#editIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/image-edit-line.svg");
    -webkit-mask-image: url("images/image-edit-line.svg");
}

#macIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/mac-line.svg");
    -webkit-mask-image: url("images/mac-line.svg");
}

#storeIcon {
    background-color: rgb(170, 36, 56);
    mask-image: url("images/google-play-line.svg"), url("images/app-store-line.svg");
    -webkit-mask-image: url("images/google-play-line.svg"), url("images/app-store-line.svg");
    mask-position: right top, left center;
    -webkit-mask-position: right top, left center;
    mask-size: 55%;
    -webkit-mask-size: 55%;
}

.bottomText {
    color: #333;
    font: 2em 'Titillium Web', sans-serif;
}

footer {
    z-index: 5;
}

.low-contrast {
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    background-color: var(--red-theme-color);
}

.botLogos {
    display: none;
}

#footerImg {
    width: 100vw;
    height: auto;
}

.mberLogo {
    width: 3em;
    height: 3em;
}

.awrdLogo {
    width: 4em;
    height: 4em;
}

#fbLogo {
    width: 3em;
    height: 3em;
}

#lInLogo {
    width: 3em;
    height: 3em;
}

@media screen and (max-width: 767px) {
    canvas {
        height: 60vh;
    }

    #expCanvas {
        height: 100vh !important;
        background: transparent;
    }

    .touchable {
        align-self: center;
        height: 30vh;
        width: 40vw;
    }

    .leftArrow {
        width: 15vh;
        height: 7vh;
        transform: rotateZ(-90deg) translateY(-4vh);
    }

    .rightArrow {
        width: 15vh;
        height: 7vh;
        transform: rotateZ(90deg) translateY(-4vh);
    }

    .deviceName {
        left: auto;
        right: auto;
        bottom: auto;
        top: 2vh;
        border-radius: 0.5em;
    }

    #ctrlButtons {
        position: absolute;
        bottom: 5vh;
        right: auto;
        left: auto;
    }

    h2 {
        font-size: 1em !important;
    }

    .leftSide {
        height: 80vh;
    }

    .rightSide {
        height: 80vh;
    }

    footer {
        font-size: 1em !important;
    }
}