@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1em;
}

#loaderLoop {
    width: 7vw;
    height: 7vw;
}

html {
    margin: 0;
    height: 100%;
}
.hero {
    background: radial-gradient(#19A1BD, #1A97B0, #007187, #0F6070);
    background-position: bottom;
}

#expBody{
    position: relative;
    height: auto;
}

nav {
    z-index: 3;
    box-shadow: 0px 2px 10px #111;
}

.hero2 {
    background: linear-gradient(0deg,#111, #333);
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
}

.hero3 {
    background: linear-gradient(#F26EF5,#A674E8);
}

.dvaSpace {
    width: 25vw;
    height: 1em;
}
.laptopSpace {
    width: 60vw;
    height: 1em;
}

.bigPadding {
    width: 12vw;;
}

.editCont {
    width: 80vw;
}

.infoText {
    max-width: 25vw;
    margin-right: 5vw;
    font: 1.5em 'Titillium Web', sans-serif;
}

.touchable {
    position: absolute;
    margin: auto;
    z-index: 1;
    width:30vw;
    height: 80vh;
}

.replayScreen {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #111111aa;
    backdrop-filter: blur(4px);
}

#replayButton {
    width: 8vh;
    height: 8vh;
    margin-bottom: 12vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    background-image: url("./Frame\ 1ReplayButton.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

canvas {
    width: 100vw !important;
    height: 80vh;
    display: block;
}

#mainFrame canvas {
    margin-top: auto;
    height: 92vh;
}

.leftSide {
    background: radial-gradient(#f22e60 20%, #f40609);
    background-attachment: fixed;
    border-radius: 1em;
}

footer {
    z-index: 5;
}

.upScroll {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 25vh;
}

.topIcon {
    display: inline-block;
    right: 2vw;
    background-color: #9e9e9e67;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-image: url("./Frame 1.svg");
}

.whte {
    height: 25vh;
    width: 100%;
}

.sub-title {
    color: #f22e60;
    font: 3em Verdana, sans-serif;
}

hr {
    width: 85%;
    border-color: white;
}

.controlButton {
    display: inline-block;
    background-color: #343a4067;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 4em;
    height: 4em;
    border-radius: 20%;
}

.leftArrow {
    position: absolute;
    left:0;
    width: 20vh;
    height: 10vh;
    background-color: #202020b7;
    background-image: url("Frame\ 2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(-90deg) translateY(-5vh);
    border-bottom-right-radius:2vh;
    border-bottom-left-radius:2vh;
}

.rightArrow {
    position: absolute;
    right:0;
    width: 20vh;
    height: 10vh;
    background-color: #202020b7;
    background-image: url("Frame\ 2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg) translateY(-5vh);
    border-bottom-right-radius:2vh;
    border-bottom-left-radius:2vh;
}

#ctrlButtons {
    list-style-type: none;
    position: absolute;
    bottom: 5vh;
    right: 10%;
}

.featuresContainer .lead {
    font-size: 2em;
}

#backDrop {
    position: relative;
}

.ctrlBtn {
    display: inline;
    padding-right: 5em;
}

#zoomButton {
    background-image: url("./magnifying-glass-3-256.png");
}

#rotateButton {
    background-image: url("./rotate-2-256.png");
}

#panButton {
    background-color: #aa2438;
    background-image: url("./hand-cursor-256.png");
}

@media screen and (max-width: 767px) {
    #ctrlButtons {
        position: relative;
        bottom: 5vh;
        right: 0;
    }
    footer {
        font-size: 1em !important;
    }
    canvas {
        height: 60vh;
    }

    #expCanvas {
        height: 50vh !important;
    }

    .halfScroll {
        padding-top: 20vh;
    }
    .textCont {
        padding-top: 10vh;
    }

    .touchable {
        height: 60vh;
    }
}

.red {
    width: 6em;
    height: 6em;
    background: radial-gradient(#f22e60, #f40609);
    border-radius: 2em;
}

#backGround {
    background: linear-gradient(#343a40, #111);
}

.screen {
    position: fixed;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

.screenForObjs {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

#sq1 {
    width: 20%;
    position: absolute;
    top:30%;
    left: 40vw;
    z-index: 20;
}

#sq2 {
    width: 20%;
    position: absolute;
    top:30%;
    left: 40vw;
}

#PageContainer {
    z-index: 5;
    box-shadow: inset 0px 1px 20px #252525;
}