.hero {
    background: radial-gradient(#19A1BD, #1A97B0, #007187, #0F6070);
    background-position: bottom;
}

.hero2 {
    background: linear-gradient(#A674E8 ,#8973FF, #6E7DF5);
    position: sticky;
    top:0vh;
    width: 100%;
    height: 100vh;
}

.scrollable {
    height:200vh;
    width: 100%;
}

canvas {
    width: 80%;
    height: 80%;
}

.leftSide {
    background: radial-gradient(#f22e60 20%, #f40609);
    background-attachment: fixed;
    border-radius: 1em;
}

.whte {
    height: 25vh;
    width: auto;
}

.sub-title {
    color: #f22e60;
    font: 2.5em Verdana, sans-serif;
}

hr {
    width: 85vw;
    border-color: white;
}

.red {
    width: 8em;
    height: 8em;
    background: radial-gradient(#f22e60, #f40609);
    border-radius: 3em;
}

#backGround {
    background: linear-gradient(#343a40, #111);
}

.screen {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: #343a40;
}

#sq1 {
    width: 20vw;
    position: absolute;
    top:30%;
    left: 40vw;
    z-index: 20;
}

#sq2 {
    width: 20vw;
    position: absolute;
    top:30%;
    left: 40vw;
}

body {
    overflow: hidden;
}